
@{ ViewBag.Title = "Contact"; }
<div>
    <img src="~/Images/20220202_174832.jpg" width="100%" height="270" />
</div>
<br />

<h1><b>Get In Touch :</b></h1>
<br />
<br />
<div style="text-align:center">
    <h5> 10/A, Narimedu Main Road, Madurai - 2</h5>
    <h5>&#x2709; sales@esweets.com</h5>
    <h5>&#x260E; 9791961697</h5>
</div>



